/* Add your CSS styles here */
header {
    background-color: lavenderblush;
    color: #fff;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 1rem;
  }
  
  .account-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
  }
  